#media-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .media-item-img {
    width: 117px;
    height: 117px;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  .media-item-img:hover{
      cursor:pointer;
  }
  .media-item-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }